ion-list-header {
    background-color: #ececec;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.placeholder-profile {
    color: #ccc;
}

.dob-label {
    color: #000 !important;
    padding: 10px !important;
    // margin: 50% !important; // kinda breaks the UI. Uncomment if you dare...
}
